<div class="container">
  <h2><%= @deck.name %></h2>
  <p>You've completed a round of <%= @deck.name %>. You answered <%= @correct_guesses %> / <%= @total_cards %> cards correctly on the first try. You submitted <%= @total_guesses %> before each card was answered correctly.</p>
</div>
